body {
    font-family: Fredoka One, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 
    -1px -1px 0 black, /* Top-left */
     1px -1px 0 black, /* Top-right */
    -1px  1px 0 black, /* Bottom-left */
     1px  1px 0 black; /* Bottom-right */
    color: #ffffff;
}

h1 {
    margin: 20px;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

#pixel-grid {
    display: grid;
    grid-template-columns: repeat(32, 20px);
    grid-template-rows: repeat(32, 20px);
    gap: 1px;
    border: 1px solid #000;
    margin-right: 20px;
}

#pixel-grid div {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#color-palette {
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    height: fit-content;
}

.color {
    width: 40px;
    height: 40px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
